################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/WebAppProjeto/.vs/WebAppProjeto/v16/Server/sqlite3
